Texte{
   color: crimson;
}
console.log [texte] {
  color: rgb(0, 26, 255);
  /* équivalent à
  color: blue;
  color: #0000ff;
  color: #00f;
  color: hsl(0, 100%, 50%); */
}

.confiture {
  color: rgb(255, 136, 0);
  /* on pourrait aussi utiliser
  color: rgb(255, 136, 0); */
}